variables:
  DEBIAN_FRONTEND: noninteractive
  DOCKER_HOST: "tcp://docker:2376"
  DOCKER_CERT_PATH: "/certs/client"
  DOCKER_TLS_VERIFY: "1"
  DOCKER_TLS_CERTDIR: "/certs"

stages:
  - test

include:
  - project: 'Northern.tech/Mender/mendertesting'
    file:
      - '.gitlab-ci-check-commits.yml'
      - '.gitlab-ci-check-license.yml'
      - '.gitlab-ci-github-status-updates.yml'
      - '.gitlab-ci-check-shell-format.yml'

test:check-shell-formatting:
  before_script:
    - SHELL_SCRIPTS="src/app src/app-modules/docker-compose gen/app-gen tests/app/run.sh tests/app/scenarios/00_basic_ArtifactInstall.run.sh"

test:smoketests:
  stage: test
  variables:
    DOCKER_BUILDKIT: 0
    COMPOSE_DOCKER_CLI_BUILD: 0
  tags:
    - docker
  image: tiangolo/docker-with-compose
  services:
    - name: docker:20.10.10-dind-alpine3.14
      alias: docker
  before_script:
    - apk --update --no-cache add bash gawk curl aws-cli tree xz jq wget xdelta3 openssl1.1-compat
  script:
    - ./tests/app/run.sh
    - ./tests/gen/run.sh
  artifacts:
    expire_in: 2w
    paths:
      - tests/app/data/docker/output
      - tests/gen/data/docker/output
    when: always

test:acceptancetests:
  image: ubuntu:22.04
  services:
    - docker:dind
#   tags:
#     - mender-qa-worker-generic
  before_script:
    - apt update && apt install -yy bash wget xz-utils awscli docker.io curl
    - docker ps
    - docker info

  script:
    - docker run -d --entrypoint sleep debian:latest 65536
    - docker ps
    - ls -alR
